.dayli-forecast{
    border: solid 1px;
    border-color: rgb(25, 83, 138); 
    border-radius: 20px;     
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); /* Adds a shadow border */   
    padding: 10px; /* Optional: Removes default padding */
    margin: 0; /* Optional: Removes default margin */
    min-width: 150px;
}

.forecast-ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

.forecast-ul li{
    margin-bottom: 10px;
}